.animado {
    opacity: 0;
    transition: all 0.9s;
}

.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform: translateY(60px);
    }
    
    100%{
        transform: translateY(0);
    }
}