.main__cardGroup{
    padding: 2rem;
    text-align: center;
}

.main__card{
    padding: 0.5em;
    text-align: center;
}

.main__cardImg{
    text-align: center;
    max-width: 300px;
    height: auto;
}

.main__cardTittle{
    text-align: center;
}

.main__cardText{
    text-align: center;

}

.entry__tittle{
    font-family: 'Bebas Neue', cursive;
    padding: 2em;
}