.carousel-item {
    width: 100%;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    bottom: 50%;
    background-color: grey;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
  
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color:honeydew;
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color:honeydew;
    text-align: center;
  }

  .button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
  }
  .button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
  }
  .button-primary:hover {
    color: #c0ca33;
    text-decoration: none;
  }
  .button-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
  }
  .button-primary:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
  }
