.section-md, .section-lg, .section-xl {
    padding: 60px 0;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.reservas__text{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

div {
    display: block;
}

html .row-50 {
    transform: translate3d(0, -50px, 0);
    margin-bottom: -50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html .row-50 > * {
    margin-top: 50px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

div {
    display: block;
}

h3, .heading-3 {
    font-size: 22px;
    line-height: 1.45;
}
h1, h2, h3, h4, h5, h6, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-weight: 400;
    color: #000;
    letter-spacing: .02em;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h3 {
    display: block;
   
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  
}

h1 a, h1 a:active, h1 a:focus, h2 a, h2 a:active, h2 a:focus, h3 a, h3 a:active, h3 a:focus, h4 a, h4 a:active, h4 a:focus, h5 a, h5 a:active, h5 a:focus, h6 a, h6 a:active, h6 a:focus, .heading-1 a, .heading-1 a:active, .heading-1 a:focus, .heading-2 a, .heading-2 a:active, .heading-2 a:focus, .heading-3 a, .heading-3 a:active, .heading-3 a:focus, .heading-4 a, .heading-4 a:active, .heading-4 a:focus, .heading-5 a, .heading-5 a:active, .heading-5 a:focus, .heading-6 a, .heading-6 a:active, .heading-6 a:focus {
    color: inherit;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .heading-1 a, .heading-2 a, .heading-3 a, .heading-4 a, .heading-5 a, .heading-6 a {
    display: inline;
    font: inherit;
    letter-spacing: inherit;
}

a {
    text-decoration: none;
    transition: .33s all ease;
}

a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea {
 
    touch-action: manipulation;
}

a {
    background-color: transparent;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:-webkit-any-link {
    cursor: pointer;

}

* + p {
    margin-top: 16px;
}

p {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

* + h4, * + .heading-4 {
    margin-top: 15px;
}

h4, .heading-4 {
    font-size: 20px;
    line-height: 1.35;
}

h1, h2, h3, h4, h5, h6, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
    margin-bottom: 0;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-weight: 400;
    color: #000;
    letter-spacing: .02em;
}

*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

* + .price {
    margin-top: 0;
}

.price {
    position: relative;
    top: -.1em;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 60px;
    line-height: .9;
    color: #0a0a0a;
    vertical-align: baseline;
}

*, *::before, *::after {
    box-sizing: border-box;
}

user agent stylesheet
div {
    display: block;
}

.price__aside-top:first-child {
    margin-right: 5px;
}
.price__aside-top {
    position: relative;
    top: -.5em;
    font-size: 20px;
    vertical-align: middle;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.price {
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 60px;
    line-height: .9;
    color: #0a0a0a;
}

.price__main {
    font-size: 1em;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.price__aside-bottom {
    font-size: 16px;
}
*, *::before, *::after {
    box-sizing: border-box;
}

* + .list-marked, * + .list-marked-primary {
    margin-top: 15px;
}
.list-marked, .list-marked-primary {
    text-align: left;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list-marked > li, .list-marked-primary > li {
    position: relative;
    padding-left: 14px;
    line-height: 1.5;
    color: #777;
}
ul li, ol li {
    display: block;
}
*, *::before, *::after {
    box-sizing: border-box;
}

li {

    text-align: -webkit-match-parent;
}

.list-marked > li::before, .list-marked-primary > li::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    height: 3px;
    width: 3px;
    background: #777;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.list-marked a, .list-marked-primary a, .list-marked a:active, .list-marked-primary a:active, .list-marked a:focus, .list-marked-primary a:focus {
    color: #c19b76;
}

.list-marked a, .list-marked-primary a {
    display: inline;
}

a {
    text-decoration: none;
    transition: .33s all ease;
}

a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea {
    touch-action: manipulation;
}

a {
    background-color: transparent;

}

*, *::before, *::after {
    box-sizing: border-box;
}

a:-webkit-any-link {
    cursor: pointer;

}

.list-marked > li, .list-marked-primary > li {
    line-height: 1.5;

}

li {
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: disc;
}

.list-marked > li + li, .list-marked-primary > li + li {
    margin-top: 7px;
}
.list-marked > li, .list-marked-primary > li {
    position: relative;
    padding-left: 14px;
    line-height: 1.5;
    color: #777;
}
ul li, ol li {
    display: block;
}
*, *::before, *::after {
    box-sizing: border-box;
}

li {
    text-align: -webkit-match-parent;
}
.list-marked > li::before, .list-marked-primary > li::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    height: 3px;
    width: 3px;
    background: #777;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.list-marked > li::before, .list-marked-primary > li::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    height: 3px;
    width: 3px;
    background: #777;
}

*, *::before, *::after {
    box-sizing: border-box;
}


html .row-50 > * {
    margin-top: 50px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

div {
    display: block;
}

.page .button-primary {
    color: #fff;
    background-color: #c19b76;
    border-color: #c19b76;
}
* + .button {
    margin-top: 25px;
}
.button {
    display: inline-block;
    width: auto;
    max-width: 100%;
    border: 1px solid;
    padding: 12px 30px;
    font-size: 12px;
    line-height: 24px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .08em;
    transition: .33s all ease;
    white-space: normal;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.facilities{
     color: #c19b76;
     font-size: 1.5rem;
}

a {
  
    text-decoration: none;
   
}

a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea {
    touch-action: manipulation;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html .row-50 > * {
    margin-top: 50px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
*, *::before, *::after {
    box-sizing: border-box;
}

#amenities {
    position: relative;
    padding: 45px 0 30px 0;
    text-align: center;
    background: #f2f2f2;
}

#amenities.home-amenities h2,
#amenities.home-amenities h3,
#amenities.home-amenities p {
    color: #ffffff;
}

#amenities h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

#amenities .item {
    padding: 30px 15px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 30px;
}

#amenities .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s;
}

#amenities .icon.icon-1 {
    background-image: url(../mutimedia/shield-hover.png);
}

#amenities .icon.icon-1:hover {
    background-image: url(../mutimedia/shield.png)
}

#amenities .icon.icon-2 {
    background-image: url(../mutimedia/air-conditioner-hover.png);
}

#amenities .icon.icon-2:hover {
    background-image: url(../mutimedia/air-conditioner.png);
}

#amenities .icon.icon-3 {
    background-image: url(../mutimedia/bathtub-hover.png);
}

#amenities .icon.icon-3:hover {
    background-image: url(../mutimedia/bathtub.png);
}

#amenities .icon.icon-4 {
    background-image: url(../mutimedia/shower-hover.png);
}

#amenities .icon.icon-4:hover {
    background-image: url(../mutimedia/shower.png)
}

#amenities .icon.icon-5 {
    background-image: url(../mutimedia/towel-hover.png);
}

#amenities .icon.icon-5:hover {
    background-image: url(../mutimedia/towel.png);
}

#amenities .icon.icon-6 {
    background-image: url(../mutimedia/television-hover.png);
}

#amenities .icon.icon-6:hover {
    background-image: url(../mutimedia/television.png);
}

#amenities .icon.icon-7 {
    background-image: url(../mutimedia/wifi-hover.png);
}

#amenities .icon.icon-7:hover {
    background-image: url(../mutimedia/wifi.png);
}

#amenities .icon.icon-8 {
    background-image: url(../mutimedia/call-hover.png);
}

#amenities .icon.icon-8:hover {
    background-image: url(../mutimedia/call.png);
}

#amenities .icon.icon-9 {
    background-image: url(../mutimedia/minibar-hover.png);
}

#amenities .icon.icon-9:hover {
    background-image: url(../mutimedia/minibar.png);
}

#amenities .icon.icon-10 {
    background-image: url(../mutimedia/kitchen-hover.png);
}

#amenities .icon.icon-10:hover {
    background-image: url(../mutimedia/kitchen.png);
}

