@import "textos";
@import "menu";
@import "cajas";
@import "carrusel";
@import "navbar";
@import "imagenes";
@import "footer";
@import "cards";
@import "parallax";
@import "forms";
@import "rooms";
@import "variables";
@import "animaciones";
@import "botón";
*{
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
  }
  
body {
    background: color #fefae0;;
    line-height:1.5;
}

/*cardgroup*/

.card-group{
    padding: 3em;
    margin: 3em;
  
  }